@font-face {
  font-family: TASA-DSB;
  src: url(xternal/TASAOrbiterDisplay-SemiBold-BF64891cba47942.otf);
}

@font-face {
  font-family: TASA-DB;
  src: url(xternal/TASAOrbiterDisplay-Bold-BF64891cba5ae6f.otf);
}

@font-face {
  font-family: TASA-R;
  src: url(xternal/TASAOrbiterDisplay-Regular-BF64891cba1d563.otf);
}

.line {
  width: 90%;
  height: 0.2vh;
  background-color: #131416;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #131416;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;

}

div {
  border: solid 1px red; 
}

.workaround {
  margin-top: 100px;
  padding-top: 500px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  font-family: TASA-DB;
  align-items: center;
  justify-content: space-between;
  color: #AEAAA6;
  padding-left: 2em;
  padding-right: 2em;
  mix-blend-mode: difference;
  z-index: 999;
}

progress {
  color: #AEAAA6;
  width: 20%;
  background: transparent;
  height: 2%;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-moz-progress-bar {
  background: #AEAAA6;
  background-attachment: fixed;
  border-radius: 30px;
}

progress::-webkit-progress-value {
  background: #AEAAA6;
  background-attachment: fixed;
  border-radius: 30px;
}

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: TASA-DSB;

}

.title {

  color: #AEAAA6;
  width: 95vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 6.5em;
}

.big_text {

  color: #AEAAA6;
  width: 95vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 7em;
}


.title h1:nth-child(1) {
  padding-right: 1.5em;
}

.title h1:nth-child(2) {
  padding-left: 2.65em;
}

.subtitle {

  width: 20vw;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle h3 {
  font-size: 3em;
}

.subtitle h3:nth-child(1) {
  color: #535350;
}

.subtitle h3:nth-child(2) {
  color: #AEAAA6;
}

.sez {
  width: 100%;
  height: 100vh;
  display: flex;
  color: #AEAAA6;

}

.sez h1 {
  font-family: TASA-DB;

}

.sez p {
  font-family: TASA-R;
}

.sez h2{
    font-family: TASA-DSB;

}

.sez_list_right {
  width: 100%;
  height: 100vh;
  display: flex;
  /* padding-right: 5%; */

  justify-content: center;
  align-items: center;
}

.list_container_RIGHT_CONTAINER .line {
  background-color: #535350;
}



.list_container_RIGHT_CONTAINER {
  width: 100%;
  height: 165vh;
  display: flex;

  flex-direction: column;

  /* overflow: hidden;   */

}

.list_container_LEFT_CONTAINER {

  height: 20vh;
  display: flex;
  align-items: center;
}
.title_list {
  height: 100%;
  width: 65%;
}

.list_elements {
  display: flex;
  height: 90%;
  width: 45%;
  gap:5%;
  padding-top: 10%;
}

.list_element {
  width: 100%;

  height: 20vh;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.sez_list_right h1 {
  text-align: left;
  font-size: 8em;
  padding-left: 5%;
  padding-top: 7%;
  opacity: 1;
}

.sez_list_right h2 {
  font-family: TASA-DSB;
  text-align: left;
  font-size: 5em;
  color: #AEAAA6;
  opacity: 0.3;
}

.sez_list_right h2:hover {
  color: #F18010;
}

.sez_list_right p {
  font-size: 2.3em;
  /*margin-right: 5%;*/
  text-align: left;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #F18010;
}




ol li {
  counter-increment: muffins;
  font-family: TASA-DSB;
  font-size: 5vw;

}

ol li:before {
  content: counter(muffins) ". ";
}

ol {
  list-style: none;
  counter-reset: muffins;
  font-size: 2vw;

  width: 80%;
  font-family: TASA-R;
}

.sezL_left {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.sezL_left h1 {


  text-align: right;
  font-size: 8em;
  padding-right: 10%;
}



.sezL_left p {

  font-size: 1.8em;
  text-align: justify;
  padding-right: 20%;
  margin-left: 5%;
}

.sezL_right {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sezL img {
  width: 100%;
}

.sezR_right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.sezR_right h1 {


  text-align: left;
  font-size: 8em;
  padding-left: 10%;
}

.sezR_right p {

  font-size: 1.8em;
  text-align: justify;
  padding-left: 20%;
  margin-right: 5%;
}

.sezR_left p {

  font-size: 1.5em;
  text-align: left;
  padding-left: 5%;
  margin-right: 20%;
  color: #535350;
}

.sezR_left {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sezR img {
  width: 100%;
}


.sez_center {
  width: 100%;
  height: 135vh;
  display: flex;
  flex-direction: column;
  /*padding-right: 5%;*/
}


.sez_center h1 {
  text-align: center;
  font-size: 8em;
  padding-left: 5%;
  padding-top: 7%;
}



.sez_center h2 {
  font-family: TASA-DSB;
  text-align: center;
  font-size: 5em;
  color: #AEAAA6;
}

.sez_center p {
  font-size: 1.8em;
  margin-right: 5%;
  margin-left: 5%;
  text-align: justify;
  margin-top: 1.5%;
}

.cifrari_holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.cifrario {
  width: 32%;
  height: 65vh;
  background-color: #F18010;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cifrario h2 {
  font-family: TASA-DB;
  color: #131416;
  text-align: justify;
  margin-top: 40px;
  font-size: 5.3em;
}

.cifrario p {
  color: #131416;
  font-size: 1.8em;
  text-align: right;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;

}


.sez_left_and_right{
  width: 100%;
  height: 270vh;
  display: flex;
  flex-direction: column;
}



.sez_left_and_right p {
  font-size: 1.8em;
}

.sez_left_and_right h2 {
  font-family: TASA-DB;
  font-size: 7em;
  color: #AEAAA6;
}
.sez_left_and_right h3 {
  font-family: TASA-DB;
  font-size: 3em;
  color: #AEAAA6;
}


.left_and_right_block{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Lblock {
  padding-left: 5%;
  padding-right: 60%;
}


.Rblock {
  padding-left: 60%;
  padding-right: 5%;
}


.Lblock p{
  text-align: left;
}


.introtext{
  padding-left:5%;
  padding-right:5%;
  text-align:justify;
}
.fit_this{
  width:85%;
}
.img_holder{
  height:20vh;
}